<!DOCTYPE>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>Coding Cougs Officers </title>
</head>
<body>
    <main role="main">
        <div class="main-container">
            <h1>President</h1>
            <img src="{% static "codingcougs\valpic.jpg" %}">
            <p>Valentin Molina</p>
            <h1>Vice President</h1>
            <p>Jordan Leibe</p>
            <h1>Club Advisor</h1>
            <p>Bob Lewis</p>
            <h1>Community Development Officer</h1>
            <p>Anabel</p>
            <h1>Social Media</h1>
            <p>Rachel</p>
            <h1>Tresurer</h1>
            <img src="{% static "codingcougs\benpic.png" %}" alt="Ben" width="200" height="200">
            <p>Ben</p>
        </div>
    </main>
</body>
</html>
