<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>Coding Cougs Officers </title>
</head>
<body>
    <main role="main">
        <div class="main-container">
            <h1>President</h1>
            <img src="website\templates\website\valpic.jpg" alt="Val" width="200" height="200">
            <p>Valentin Molina</p>
            <h1>Vice President</h1>
            <p>Jordan Leibe</p>
            <h1>Club Advisor</h1>
            <p>Bob Lewis</p>
            <h1>Anabel</h1>
            <p>Community Development Office</p>
            <h1>Rachel</h1>
            <p>Social Media</p>
            <h1>Ben</h1>
            <p>Treasurer</p>
        </div>
    </main>
</body>
</html>
