<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <main role="main">
        <div class="main-container">
            <img id="cc-logo" src="CodingCougs.png" alt="Coding Cougs logo">
            <h1>Coding Cougs</h1>
            <small>@ WSU Tricities</small>
            <p>
                Hey there, if you're seeing this, the website is not quite
                finished. In the meantime, join our Discord channel to stay
                up to date:
            </p>

            <div class="discord">
                <img id="discord-logo" src="discord-logo.svg" alt="Discord logo">
                <a href="https://discord.gg/vGQM255">
                    https://discord.gg/vGQM255
                </a>
            </div>
        </div>
    </main>

</body>
</html>
